@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

*:before, *:after {

padding: 0;
margin: 0;
box-sizing: border-box;
}

:root {

    --cor-principal: #f2881d;
    --cor-secundaria: #ec5224;
    --cor-terciaria: #f5a11a;
    --cor-black: #000000;
    --cor-white: #ffffff;

}

header {

    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 35px 0;
    position: relative;


}

.img-logo {

    position: relative;

}

.img-logo img {

    width: 80px;
}

.text-top {

    position: absolute;
    top: 0;
    left: 95px;

}

.text-top p {

    color: var(--cor-principal);
    font-weight: 600;

}

.link-top {

    position: absolute;
    top: 65px;
    right: 0;

}

.link-top a {

    padding: 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--cor-secundaria);
    letter-spacing: 0.5;

}

.banner {

    background-color: var(--cor-terciaria);
    position: relative;
    padding: 80px 0;

}

.banner div {

    width: 470px;
    color: var(--cor-black);
    margin-left: 5rem;

}

.banner div p {

    font-size: 16px;
    line-height: 18px;
    word-spacing: 2px;

}

.banner div h2 {

    font-size: 28px;
    line-height: 40px;
    margin: 20px 0;

}

.banner img {

    width: 35%;
    position: absolute;
    top: 0px;
    right: 160px;

}

.announcement {

    background-color: var(--cor-black);
    width: 100vw;
    position: relative;
    padding: 40px 0;
    color: var(--cor-white);

} 

.announcement div {

    width: 600px;
    margin-left: 5rem;

}

.announcement div h2{

    margin-bottom: 5px;
    
}

.announcement a {

    position: absolute;
    top: 3rem;
    right: 10rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-white);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    padding: 12px;
    cursor: pointer;

}

.announcement a:hover {

    color: var(--cor-black);
    transform: scale(1.04)

}

.announcement a span {

    margin-left: 10px;

}

#informacoes {

    padding: 100px 0;
    text-align: center;
    
}

#informacoes h2 {

    width: 900px;
    font-size: 32px;
    margin: 0 auto 60px;

}

#informacoes span {

    color: var(--cor-principal);

}

#informacoes div{

    position: relative;
    height: 240px;

}

#informacoes .card1 {

    position: absolute;
    width: 33%;
    top: 0;

}


#informacoes .card2 {

    left: 343px;
   
}

#informacoes .card3 {

    right: 0;

}

#informacoes div img {

    width: 100px;

}
